.board {
  /* border: 2px solid green; */
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  column-gap: 2px;
}
.container {
  display: flex;
  column-gap: 50px;
}
.next {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
